body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}


/* HEADER */
header {
    height: 58px;
    flex-shrink: 0;
    background-color: #06356d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    color: white;
}


/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LOGIN BOX */
.login-box {
    width: 365px;
    min-height: 205px;
    border: 1px solid #06356d;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    padding: 32px 25px;
}


/* FOOTER */
footer {
    height: 50px;
    flex-shrink: 0;
    background-color: #06356d;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
    padding: 5px;
}